doctype
html(lang='en')
	head
		meta(charset='utf-8')
		title EmojiVision - Gigantic Emoji statistics on Twitter
		script(async=true, src='index.js', charset='utf-8')
		style
			include index.loading.css
	body.loading
		.root
