@import "node_modules/animate.css/animate.css";

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #222;
}

.exo-2 {
	font-family: 'Exo 2';
	font-weight: 100;
}
