html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #222;
	color: white;
}

body.loading {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: svg-load('logo.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 40vw;
	}

	.root {
		visibility: hidden;
	}
}
