@import "node_modules/css-spinners/css/spinner/dots.css";

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #222;
	color: white;
}

body.loading {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	.load-screen {
		display: block;
		width: 40%;
		text-align: center;

		&::before {
			content: svg-load('logo.svg');
			width: 100%;
		}
	}

	.root {
		visibility: hidden;
	}
}

.load-screen {
	display: none;
}
